<div class="site-inner">
    <h1>Sudoku Game</h1>
    <form id="puzzleForm" action="/" method="get">
        <div id="puzzle">
            {{#each puzzle}}
                <div>
                    {{#each this}}
                        <input class="sudoku-field" type="number" name="field_{{@../index}}_{{@index}}" value="{{this}}" min="1" max="9"/>
                    {{/each}}
                </div>
            {{/each}}
        </div>
        <br />
        <input class="button" type="submit" id="puzzleSubmit" name="Check" value="Check Puzzle" />
    </form>
    <br />
    <div id="result" style="display: none;"></div>
    <br />
    <hr />
    <h3>Puzzle Actions</h3>
    <a href="" id="fillPuzzle" class="button">Fill Puzzle With Solution</a>
    <a href="" id="resetPuzzle" class="button">Reset Puzzle</a>
    <br />
    <br />
</div>